@prefixClassName: ~'@{prefixClass}-panel';

.@{prefixClassName}-inner {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 1px 5px #ccc;
  border: 1px solid #ccc;
  //padding-bottom: 12px;
}

.@{prefixClassName}-wrap {
  margin: 10px 0 0;
  height: 24px;
  width: 100%;
  position: relative;

  &-preview {
    position: absolute;
    left: 16px;
    top: -3px;
  }
  &-ribbon {
    position: absolute;
    right: 16px;
    top: 0;
    //left: 48px;
    width: 156px;
    height: 8px;
  }
  &-alpha {
    position: absolute;
    right: 16px;
    //left: 48px;
    bottom: 0;
    width: 156px;
    height: 8px;
  }
}
.@{prefixClassName}-params-wrap {
  position: relative;
  width: 100%;
  height: 36px;
  margin: 10px 0;
  padding: 0 8px;
}
